.all-purple{
    background-color: #7F00B2;
    text-align: center;
    color: #fff;
    width: 100%;
    min-height: 100px;
    padding: 50px 20px;
    h2{
        color: #fff;
    }
    .container > div {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .card-numbers{
        background-color: #fff;
        padding: 40px 0;
        border-radius: 5px;
        .numbers{
            font-size:60px;
            font-weight: bold;
            color: #7F00B2;
        }
        span{
            color: #636363;
            margin-bottom: 15px;
            display: block;
        }
    }
    .card-numbers.center-card{
        padding: 65px 0;

    }
}