.full-purple{
    background-color: #7F00B2;
    align-items: center;
    justify-content: center;
    display: flex;
    .message-text{
        color: #fff;
        width: 80%;
        font-size: 36px;
        p{
            color: #fff;
        }
    }
}