header {
    padding: 15px 20px;
    background-color: #000036;
    margin-bottom: 25px;
    .actions{
        justify-content: flex-end;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .btn-donate{
            margin-right: 10px;
        }
    }
}